/* VARIABLES */
:root {
    --navbarHeight: 130px;
    --mainColor: #4A0F78;
    --secondaryColor: #6b18aa;
    --titleColor: white;
    --h1Color: #989898;
    --h2Color: white;
    --background: rgba(0, 0, 0, 0.05);

}


/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 1.5em;
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    font-weight: 400;
    line-height: 30px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.container {
    width: 85%;
    margin: 0 auto;

}

.bg-img {
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
}

.pg-section {
    min-height: 70vh;
    padding: 50px 0 50px 0;
}

.pg-section-fit-content {
    height: fit-content;
    margin-top: 150px;
    margin-bottom: 150px;
}

.small-pg-section {
    min-height: 50vh;
}

.min-pg-section {
    min-height: 10vh;
}

.float-container {
    position: relative;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

/* Spacing/Format */
.center-txt {
    text-align: center;
}

.margin-1 {
    margin: 20px;
}

.margin-2 {
    margin: 50px;
}

.margin-3 {
    margin: 80px;
}

.margin-top-1 {
    margin-top: 20px;
}

.margin-top-2 {
    margin-top: 50px;
}

.margin-top-3 {
    margin-top: 80px;
}

.margin-bottom-1 {
    margin-bottom: 20px;
}

.margin-bottom-2 {
    margin-bottom: 50px;
}

.margin-bottom-3 {
    margin-bottom: 80px;
}


.margin-right-1 {
    margin-right: 20px;
}

.margin-right-2 {
    margin-right: 50px;
}

.margin-right-3 {
    margin-right: 80px;
}

.margin-right-4 {
    margin-right: 110px;
}

.margin-left-1 {
    margin-left: 20px;
}

.margin-left-2 {
    margin-left: 50px;
}

.margin-left-3 {
    margin-left: 80px;
}

.pad-top-1 {
    padding-top: 20px;
}

.pad-top-2 {
    padding-top: 50px;
}

.pad-top-3 {
    padding-top: 80px;
}

.pad-bottom-1 {
    padding-bottom: 20px;
}

.pad-bottom-2 {
    padding-bottom: 50px;
}

.pad-bottom-3 {
    padding-bottom: 80px;
}

.pad-1 {
    padding: 20px;
}

.pad-2 {
    padding: 50px;
}

.pad-3 {
    padding: 80px;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

/* Flexbox */
.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.space-btwn {
    justify-content: space-between;
}

.main-purple-txt {
    color: var(--mainColor)
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #d2d2d2;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondaryColor);
}

/* MAIN MENU */
#top-nav {
    padding-top: 40px;
}

#bottom-nav {
    background-color: #6b18aa;
    width: 100%;
}

#bottom-nav li {
    text-align: center;
    transition: 0.3s;
}

#bottom-nav a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bottom-nav li:hover {
    background-color: var(--h1Color);
}

.underneath-nav {
    background-color: var(--mainColor);
    height: var(--navbarHeight);
    top: 0;
}

#main-menu {
    background-color: var(--mainColor);
    color:white;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    z-index: 10;
    transition: top 0.8s;
    height: var(--navbarHeight, 130px);
}

#main-menu a {
    color:white;
}

#main-menu .main-logo {
    line-height: 1;
    text-transform:uppercase;
}

#main-menu li.active {
    background-color: var(--h1Color);
}

#main-menu li.active a{
    color: white;
}

#main-menu li {
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.main-logo {
    font-family: 'Changa', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
}

/* Searchbar */
#searchbar {
    background-color: white;
    height: 40px;
    border-radius: 20px;
    min-width: 30%;
    padding: 10px 0 10px 20px;
    justify-content: space-between;
    margin-left: 6%;
}

#searchbar input {
    border:none;
    flex: 1;
}

#searchbar input:focus {
    outline: none;
}

#searchbar button {
    padding-right: 10px;
}

/* User icons */
#user-icons {
    width: 200px;
    margin-left: 5%;
    height: fit-content;
    display: flex;
    justify-content: space-between;

}

#user-icons figure {
    width: 60px;
}

#user-icons p {
    margin-top: 0;
    color: white;
    font-size: 13px;
}

/* HERO SECTION */
.hero-section {
    min-height: calc(75vh - var(--navbarHeight));
    color: white;
    padding-top: 3%;
    background: var(--mainColor);
}

#main-hero {
    background-image: url(/images/newHero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;
}

#account-page-hero {
    background-image: url(/images/account-page-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 40%;
}

#about-us-cta {
    color: var(--mainColor);
    text-align: center;
    align-items: center;
}

#about-us-cta p {
    color: var(--mainColor);
    padding-right: 20%;
    padding-left: 20%;
}

#about-us-pg-content {
    justify-content: space-between;
}

.about-us-aside {
    background-image: url(/images/about-us-page-img.jpg);
    width: 100%;
    height: 460px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}

#pet-help-hero {
    background-image: url(/images/about-us-cta.jpg);
    background-position: right center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

#pet-help-hero h2 {
    color: white;
}

#pet-help-hero p {
    color: white;
}

#start-quiz-section {
    background-image: url(/images/about-us-cta.jpg);
    background-position: 55% center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    text-align: center;
    align-items: center;
}

#start-quiz-section h1 {
    color: white;
}

#start-quiz-section h2 {
    color: white;
}

#start-quiz-section p {
    color: white;
    padding-right: 20%;
    padding-left: 20%;
}

.small-hero {
    min-height: calc(45vh - var(--navbarHeight));
}

/* Hero layout for about page */
.about-hero {
    min-height: calc(25vh - var(--navbarHeight));
}


.hero-section a {
    color: white;
}

.hero-content {
    align-items: flex-start;
}

.hero-content p{
    width: 60%;
}

.hero-content-full-width p {
    width: 100%;
}

.hero-content h1 {
    /* text-transform: uppercase; */
    color: var(--titleColor);
}


.hero-btn {
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px 30px;
    font-weight: bold;
    background-color: var(--mainColor);
    color: white;
    width: 100%;
}

.hero-btn:hover {
    background-color: white;
    color: var(--h1Color);
}

.hero-content .hero-btn:first-child {
    background-color: var(--h1Color);
    border: 3px solid var(--h1Color);
    color: white;
}

.hero-content .hero-btn:first-child:hover {
    background-color: white;
    color: var(--h1Color);
    border-radius: 10px;
    border: 3px solid white;
}

.home-hero-img {
    max-height: 410.25px;
    max-width: 312.6px;
}
 
/* .home-section2-img {
    background-image: url("/images/about-us-cta.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
} */
/* CSS for Categories */

.categories {
    padding: 4% 0;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}

/* Styling for breed squares on index.php */
.breed-title {
    /* font-size: 3em; */
    color: var(--mainColor); 
    /* margin-top: 2%; */
    text-align: center;
    /* text-decoration: underline 4px var(--mainColor); */
}

.box-3 img {
    transition: all 250ms;
    border-radius: 10px 10px 0 0;
}

.box-3 img:hover {
    transform: translateY(-5px);
}

.breed-text {
    text-align: center;
    color: white;
    background-color: var(--mainColor);
    border-radius:  0 0 10px 10px;
    bottom: 50px;
    left: 40%;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.breed-text:hover {
    background-color: var(--secondaryColor);
}

.zoom-on-hover {
    transition: all 250ms;
}

.zoom-on-hover:hover {
    transform: scale(2);
    border-radius: 10px;
}

.profile-box {
    width: 28%;
    float: left;
    margin: 2%;
    display: flex;
    flex-direction: column;
    background-color: var(--mainColor);
}

.profile-box.profile-box-mypets {
    width: 100%;
    margin: 0;
    background-color: var(--mainColor);
}

.profile-box form button {
    width: 100%;
    align-self: center;
}

.profile-box a {
    text-align: center;
    color: white;
    background-color: var(--secondaryColor);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Styling dog name in card */
.dog-card-name {
    font-size: 1.3em;
}

.profile-box a:hover {
    background-color: var(--h1Color)
}

.profile-box img {
    margin-left: auto;
    margin-right: auto;
}

.profile-box p {
    color: white;
    margin: 0;
    text-align: center;
}

/* Styling for filters */
#filters {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Currently selected filters */
.filter-current {
    min-width: 160px;
}

/* Filter category table */
.filter-1 {
    border: 1px solid black;
    position: relative;
}

/* Filter category heading */
.filter-2 {
}

/* Filter category table elements */
.filter-3 {
    display: none;
    min-width: 100px;
}

.filter-1:hover .filter-3 {
    display: flex;
    justify-content: space-between;
}

#filters th {
    margin-left: 20px;
    margin-right: 20px;
}

/* Styling for breeds table on breeds.php*/
.table-title {
    color: var(--mainColor);
    margin-top: 5%;
    text-align: center;
}

.breeds-table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 25px auto;
    width: 75%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.breeds-table thead tr {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
}

.breeds-table th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.3em;
}

.breeds-table td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.breeds-table tbody tr {
    border-bottom: 1px solid grey;
    scroll-margin-top: 50px;
}

.dog-name a {
    font-weight:normal;
    font-size: large;
    color: var(--secondaryColor);
}
.dog-name a:hover {
    font-weight: bold;
    color: var(--secondaryColor);
}

.breed-name a {
    font-weight:normal;
    color: var(--secondaryColor);
}
.breed-name a:hover {
    font-weight: bold;
    color: var(--secondaryColor);
}

/* Applies styling to every second row of table */
.breeds-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Applies styling to last row of table */
.breeds-table tbody tr:last-of-type {
    border-bottom: 4px solid var(--mainColor);
}

/* Thumbs up and thumbs down */
.good-traits {
    margin: 0;
    padding: 5px 0 5px 30px;
    list-style: none;
    background-image: url("../images/icons/good.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.bad-traits {
    margin: 0;
    padding: 5px 0 5px 30px;
    list-style: none;
    background-image: url("../images/icons/bad.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

/* Quiz Styling */
.quizAnswer {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    margin: auto;
}

.quizAnswer:hover {
    opacity: 1;
}

.quizAnswer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondaryColor);
    cursor: pointer;
}

.quizAnswer::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondaryColor);
    cursor: pointer;
}

.quizToggle {
    width: 30%;
}

.quizSliderLabels {
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 0 10px;
}

.quizSliderLabels span {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}

.quizSliderLabels p {
     padding-top: 5px;
     color: grey;
     text-align: center;
     line-height: 1.2;
     font-size: 14px;
}


/* FOOTER */
footer {
    color:#fff;
    background-color:black;
}

footer ul {
    list-style: none;
    color: white;
    justify-content: space-between;
    padding-bottom: 20px;
}

footer li {
    margin-bottom: 20px;
}

footer a {
    color: white;
}

footer h3 {
    font-family:'Montserrat', sans-serif; ;
}

footer p {
    color: grey;
}

footer a:hover {
    color: grey;
}


/* LOGIN */
#login, #logout, #create-account {
    width: 30%;
}

#login,#logout, #contact, #create-account {
    margin-left: auto;
    margin-right: auto;
}

.wrapper input{
    width: 100%;
    padding: 12px 20px;
}

.submit-btn {
    width: 100%;
    background: var(--mainColor);
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: var(--secondaryColor);
}


.wrapper {
    color: black;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border: 0;
    border-radius: 10px;
}

.input-card fieldset {
    border: 0;
    border-radius: 10px;
    display: block;
}

.input-card h2 {
    margin-bottom: 20px;
    color: black;
}

.input-card p, .input-card span {
    margin-bottom: 20px;
}

.input-card div {
    margin-bottom: 20px;
}
.username {
    text-align: center;
    color: white;
}

.error-box {
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background: lightpink;
}

p {
    display: block;
    /* margin-block-start: 1em; */
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h1 {
    font-size:36px;
}

#form-control {
    margin-bottom: 50px;
}

.banner {
    /* background-image: url(../images/banner.jpg); */
    background-attachment: fixed;
    background-size: cover;
}

#top {
    background: black;
    opacity: 0.8;
}


.input-card {
    background-color: white;
    margin-bottom: 2em;
    padding: 1em 2em;
    border: 0;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.411);
    /* Ensures the auto-scroll JS function scrolls to a spot comfortably above the div */
    scroll-margin-top: 55px;
}

#contact input:focus {
    border: 1px solid rgb(175, 175, 175);
}

#contact {
    max-width: 700px;   
}

#contact .input-card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input-card legend {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5em 1em;
    margin: 0 -1em;
    border-radius: 10px;
    color: white;
    background: var(--h1Color);
}

.input-card label {
    color: black;
    margin-bottom: 1em;
}

.input-card label {
    display: inline-block; 
}

#contact textarea {
    height: 200px;
    resize: vertical;
}

.input-card input, textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    /* width: 100%; */
    margin-bottom: 1em;
}

#contact .input-card input, textarea{
    width: 100%;
}

/* mypets */
.tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

.tasks  td, .tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.tasks tr:nth-child(even){background-color: #f2f2f2;}
  
.tasks tr:hover {background-color: #ddd;}
  
.tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4A0F78;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.task-set {
    float: left;
    padding-left: 10%;
    margin-bottom: 50px;
    margin-top: 25px;
    width: 60%;
    /*height: 570px;*/
}

.task-set2 {
    padding-right: 10%;
    margin-bottom: 50px;
    margin-top: 25px;
    float: right;
}

.task-set3 {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 50px;
    margin-top: 25px;
}

.tasks-txt {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tasks-table {
    width: 100%;
    height: 255px;
    margin-bottom: 25px;
    overflow: auto;
    border-radius: 10px 10px 0 0;
}

.regularReminder {
    /* TODO */
}

.overdueReminder {
    /* TODO */
    color: red;
}

/* PERSONALITY QUIZ */
#personality-quiz form {
    width:50%;
}

#personality-quiz fieldset h1 {
    color: var(--mainColor);
    font-size: 24px;
    margin: 20px 0;
}

#personality-quiz h2 {
    font-size: 1.2em;
}

#personality-quiz .input-card {
    padding-bottom: 50px;
}


#menuToggle {
    display: none;
}

#menuToggle-2 {
    display: none;
}

/* Breeds profile page styling */
.profile-title {
    font-size: 2em;
    margin-top: 2%;
}

.profile-section {
    padding-top: 7%;
    background-color: var(--background);
}

.profile-info h3 {
    margin-top: 2%;
    font-size: 1.5em;
    font-weight: normal;
    border-bottom: 1px solid #a2a9b1;
}

.glide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    max-width: 100%;
}

.glide.glide-mypets img:first-of-type {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    max-width: 100%;
}

.information-boxes {
    display: flex;
    flex-flow: column wrap;
    height: 1400px;
    margin-top: 2%;
}

.info-box {
    margin-bottom: 1%;
    height: fit-content;
    width: 22%;
    max-height: 50%;
    padding-top: 10px;
    background-color: white;
    border: 2px solid var(--mainColor);
    box-shadow: 1px 1px 10px var(--secondaryColor);
    border-radius: 20px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.info-box:hover {
    box-shadow: 1px 1px 20px var(--secondaryColor);
}

.info-box h4 {
    text-decoration: underline;
}

.dog-information-boxes {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}

.dog-info-box {
    margin-bottom: 1%;
    height: fit-content;
    width: fit-content;
    min-width: 22%;
    max-height: 50%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    background-color: white;
    box-shadow: 1px 1px 10px grey;
}

.dog-info-box p {
    border-bottom: 1px solid #afbdaa;
}

.dog-info-box h4 {
    font-size: 1.2em;
}

.dog-info-box:nth-of-type(even) {
    background-color: rgb(202, 116, 202);
    border-bottom: 1px solid black;
}

/* About us page styling */
.about-main {
    background-color: rgba(0, 0, 0, 0.05)
}

/* .about-us-text {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2%;
} */

/* Help page styling */
.help-main {
    background-color: rgba(0, 0, 0, 0.05)
}

#help-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.help-box {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-height: 303px;
    background: white;
    top: 0;
    height: 100%;
    transform: translateY(-5px);
    opacity: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    transition: all .2s ease-in-out;
}

.help-box:hover {
    margin-top: 3.5%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.help-content {
    width: 50%;
}

.help-box a {
    color: black;
    font-weight: bold;
    border-bottom: 2px solid var(--secondaryColor);
}

.help-box a:hover {
    color: var(--secondaryColor);
    font-weight: bold;
    border-bottom: 2px solid black;
}

.help-thumbnail {
    background-color: green;
    width: 47%;
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding-top: 43%;
    margin: auto 20px;
}

/* Styling for RSS Feeds */

#rss-feeds {
    display: flex;
    justify-content: space-between;
}

.rss-feed {
    font-size: small;
    width: 47%;
    margin-top: 25px;
}

/* Title of RSS Feed */
.feed-title a {
    color: black;
    font-size: large;
}
.feed-title {
    font-size: large;
    padding-bottom: 1em;
}

/* Headlines of RSS feed items */
.feed-item-title a {
    color: var(--mainColor);
    font-size: medium;
}

#help-page a:hover, .feed-item-title a:hover {
    color: var(--h1Color);
}

.feed-item-title {
    /*padding-top: 1em;*/
}

/* Main content of RSS feed */
.rss-feed p {
    /* line-height: 125%; */
    font-size: 11pt;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-bottom: 30px;
}

/* Appeared First text */
.rss-left {font-size: 0}
.rss-right p:nth-child(5n) {display: none;}
.rss-left p:nth-child(5n) {display: none;}

/* Read More text */
.rss-left p a {display: none;}
.rss-right p a {display: none;}

#menuToggle-2 span {
    display: none;
}

/* Popup form styling */
.popup-div {
    position: relative;
    text-align: center;
    width: 100%;
}
.popup-form-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 5%);
    border-radius: 25px;
    border: 3px solid var(--mainColor);
    box-shadow: 0 0 50px -10px #000;
    z-index: 99;
}
.popup-form {
    max-width: 300px;
    padding: 10px;
    border-radius: 25px;
    background-color: #fff;
}
.popup-form input {
    width: 75%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}
.popup-form input:focus {
    background-color: #ddd;
    outline: none;
}
.popup-form .btn {
    padding: 12px 10px;
    border: none;
    background-color: var(--secondaryColor);
    color: #fff;
    cursor: pointer;
    width: 45%;
    margin-bottom: 15px;
    opacity: 0.8;
}
.popup-form .cancel {
    background-color: var(--h1Color);
}
.popup-form .btn:hover {
    opacity: 1;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px) {
    /* may need to hide overflow, but it stuffs up the navbar currently */
    /* *{
        overflow-x: hidden;
    } */

    .tasks-table {
        height: 150px;
    }

    .task-set {
        padding-right: 10%;
        width: 100%;
        margin-bottom: -50px;
        margin-top: -25px;
    }

    .task-set2 {
        margin-bottom: -50px;
    }

    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul {
        text-align: center;
    }

    .categories {
        padding: 20% 0;
    }
    h2 {
        margin-bottom: 10%;
    }
    .box-3 {
        width: 100%;
        margin: 4% auto;
    }
    .profile-box {
        width: 100%;
        margin: 4% auto;
    }
    .social {
        padding: 5% 0;
    }
    .order {
        width: 100%;
    }

    .sm-v-hidden {
        visibility: hidden;
    }

    .sm-d-none {
        display: none!important;
    }

    .hero-content p, p  {
        width: 100%;
    }

    .quizSliderLabels p:nth-child(odd) {
        width: initial;
    }

    .btn-group {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #rss-feeds, #help-boxes {
        margin-top: 40px;
        flex-direction: column;
    }

    .rss-left {
        margin: 50px;
    }

    #login, #logout, #create-account, #contact .input-card {
        width: 100%;
    }

    #main-hero {
        background-size: 225%;
        background-position: 90%;
    }

    #pet-help-hero {
        background-position: center;
    }

    #start-quiz-section {
        background-position: center;
        background-size: auto 100%;
    }

    #personality-quiz form {
        width: 100%;
    }

    
    #about-us-pg-content {
        flex-direction: column;
        margin-top: 20px;
    }

    .about-us-aside {
        margin-left: 0;
    }

    .dimmer-sm {
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    }

    /* FOOTER */
    footer {
        display: flex;
    }

    footer p {
        text-align: center;
    }

    footer li, footer h3 {
        line-height: 42px;
        text-align: center;
    }


    .sm-column {
        flex-direction: column;
    }
    
    /* Navigation bar */
    .home-hero-img, .main-logo {
        display: none;
    }

    #searchbar {
        width: 100%;
        margin-left: 0;
    }

    #user-icons {
        display: flex;
    }

    #main-menu ul {
        flex-direction: column;
        width: 90%;
    }

    #main-menu li {
        padding: 20px 0;
    }

    #main-menu li.active {
        background-color: #b3b3b3;
    }

    #top-nav {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #bottom-nav {
        padding-left: 0;
    }

	#menuToggle {
		display: block;
		position: relative;
        top: -100px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
        width: 70%;
        left: 10%;
	}

	#menuToggle a {
		text-decoration: none;
		color: #232323;
		transition: color 0.3s ease;
	}

	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0; 
		z-index: 2; 
	}

	#menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
  
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
	}
    
	#menuToggle span:first-child {
		transform-origin: 0 0;
	}

	#menuToggle span:nth-last-child(2) {
		transform-origin: 0 100%;
	}

	#menuToggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	#menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

    #menuToggle-2 input:checked ~ img {
		display: none;
	}

    #menuToggle-2 span {
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
  
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					opacity 0.55s ease;
        margin-left: 75%;
	}
    
	#menuToggle-2 span:first-child {
		transform-origin: 0 0;
	}

	#menuToggle-2 span:nth-last-child(2) {
		transform-origin: 0 100%;
	}

	#menuToggle-2 input:checked ~ span {
        display: block;
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}

	#menuToggle-2 input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle-2 input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	#menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -80px;
        padding-left: 30%;
        top: 80px;
        padding-top: 50px;  
        padding-bottom: 10px;
		background: #b3b3b3;
		list-style-type: none;
		-webkit-font-smoothing: antialiased; 
		transform-origin: 0 0;
		transform: translate(-100%, 0); 
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li {
		padding: 10px 0;
		font-size: 22px;
        font-weight: normal;
	}

	#menuToggle input:checked ~ ul {
		transform: none;
	}

    #menuToggle-2 {
		display: block;
		position: relative;
		left: 30px;
        top: 10px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}

	#menuToggle-2 a {
		text-decoration: none;
		color: #232323;
		transition: color 0.3s ease;
        padding: 10px 0;
        font-size: 22px;
	}

	#menuToggle-2 input {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0; 
		z-index: 2; 
		-webkit-touch-callout: none;
        margin-left: 75%;

	}

	#menuToggle-2 img {
		margin-left: 75%;
	}

	#menu-2 {
		position: absolute;
		width: 100%;
		margin: -50px 0 0 160px;
		padding: 50px; 
		background: #b3b3b3;
		list-style-type: none;
		-webkit-font-smoothing: antialiased; 
		transform-origin: 0 0;
		transform: translate(100%, 0); 
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu-2 li {
		padding: 10px 0;
		font-size: 22px;
        font-weight: normal;
	}

	#menuToggle-2 input:checked ~ ul {
		transform: none;
        width: 50%;
	}

    .profile-section {
        margin-top: 25%;
    }

    .information-boxes {
        height: fit-content;
    }

    .info-box {
        width: 80%;
        align-self: center;
        margin-bottom: 5%;
    }

    .profile-title {
        text-align: center;
        margin-top: 10%;
    }

    .dog-information-boxes {
        flex-direction: column;
    }

    .dog-info-box {
        min-width: 80%;
        width: fit-content;
        align-self: center;
        margin-bottom: 5%;
    }

    .input-card {
        width: 100%;
    }

    .wrapper {
        width: auto;
        max-width: 90%;
    }
    
}

