/* VARIABLES */
:root {
    --navbarHeight: 130px;
    --mainColor: #4A0F78;
    --secondaryColor: #6b18aa;
    --h1Color: #989898;
    --h2Color: white;

}


/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
} 

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 1.5em;
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

p {
    font-weight: 400;
    line-height: 30px;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.container {
    width: 85%;
    margin: 0 auto;

}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.pg-section {
    min-height: 70vh;
    padding: 50px 0 50px 0;
}

.small-pg-section {
    min-height: 50vh;
}

.min-pg-section {
    min-height: 10vh;
}

.float-container {
    position: relative;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

/* Spacing/Format */
.center-txt {
    text-align: center;
}

.margin-1 {
    margin: 20px;
}

.margin-2 {
    margin: 50px;
}

.margin-3 {
    margin: 80px;
}

.margin-top-1 {
    margin-top: 20px;
}

.margin-top-2 {
    margin-top: 50px;
}

.margin-top-3 {
    margin-top: 80px;
}

.margin-bottom-1 {
    margin-bottom: 20px;
}

.margin-bottom-2 {
    margin-bottom: 50px;
}

.margin-bottom-3 {
    margin-bottom: 80px;
}


.margin-right-1 {
    margin-right: 20px;
}

.margin-right-2 {
    margin-right: 50px;
}

.margin-right-3 {
    margin-right: 80px;
}

.margin-right-4 {
    margin-right: 110px;
}

.margin-left-1 {
    margin-left: 20px;
}

.margin-left-2 {
    margin-left: 50px;
}

.margin-left-3 {
    margin-left: 80px;
}

.pad-top-1 {
    padding-top: 20px;
}

.pad-top-2 {
    padding-top: 50px;
}

.pad-top-3 {
    padding-top: 80px;
}

.pad-bottom-1 {
    padding-bottom: 20px;
}

.pad-bottom-2 {
    padding-bottom: 50px;
}

.pad-bottom-3 {
    padding-bottom: 80px;
}

.pad-1 {
    padding: 20px;
}

.pad-2 {
    padding: 50px;
}

.pad-3 {
    padding: 80px;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

/* Flexbox */
.flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.space-btwn {
    justify-content: space-between;
}

/* MAIN MENU */
#top-nav {
    padding-top: 40px;
}

#bottom-nav {
    background-color: #6b18aa;
    width: 100%;
    padding-left: 7.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.underneath-nav {
    background-color: var(--mainColor);
    height: var(--navbarHeight);
    top: 0;
}

#main-menu {
    background-color: var(--mainColor);
    color:white;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    z-index: 10;
    transition: top 0.8s;
    height: var(--navbarHeight, 130px);
}

#main-menu a {
    color:white;
}

#main-menu li a:hover {
    color: lightgray;
}

#main-menu .main-logo {
    line-height: 1;
    text-transform:uppercase;
}

#main-menu ul {
    width: 50%;
}

#main-menu li.active a{
    color: var(--h1Color);
}

#main-menu li {
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.main-logo {
    font-family: 'Changa', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

/* Searchbar */
#searchbar {
    background-color: white;
    height: 40px;
    border-radius: 20px;
    min-width: 30%;
    padding: 10px 0 10px 20px;
    justify-content: space-between;
    margin-left: 6%;
}

#searchbar input {
    border:none;
    flex: 1;
}

#searchbar input:focus {
    outline: none;
}

#searchbar button {
    padding-right: 10px;
}

/* User icons */
#user-icons {
    width: 20%;
    margin-left: 5%;
}

#user-icons button {
    margin-right: 10px;
}

#user-icons p {
    margin-top: 0;
    color: white;
}

/* HERO SECTION */
.hero-section {
    min-height: calc(75vh - var(--navbarHeight));
    background-color: var(--mainColor);
    color: white;
    /* top: var(--navbarHeight); */
    padding-top: 3%;

}

.small-hero {
    min-height: calc(45vh - var(--navbarHeight));
}

.hero-section a {
    color: white;
}

.hero-content {
    align-items: flex-start;
}

.hero-content p{
    width: 60%;
}

.hero-content h1 {
    text-transform: uppercase;
    color: var(--h1Color);
}


.hero-btn {
    border: 3px solid white;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: bold;
}

.hero-btn:hover {
    background-color: white;
    color: var(--h1Color);
}

.hero-content .hero-btn:first-child {
    background-color: var(--h1Color);
    border: 3px soli var(--h1Color);
    color: white;
}

.hero-content .hero-btn:first-child:hover {
    background-color: white;
    color: var(--h1Color);
    border-radius: 30px;
}

.home-hero-img {
    max-height: 410.25px;
    max-width: 312.6px;
}

/* CSS for Categories */

.categories {
    padding: 4% 0;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}

/* Styling for breed squares on index.php */
.breed-text {
    text-align: center;
    color: white;
    background-color: var(--mainColor);
    bottom: 50px;
    left: 40%;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Styling for breeds table on breeds.php*/
.breed-title {
    color: black;
    margin-top: 5%;
    text-align: center;
}

.breeds-table {
    border-collapse: collapse;
    margin-top: 25px;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 75%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.breeds-table thead tr {
    background-color: var(--mainColor);
    color: white;
    font-weight: bold;
}

.breeds-table th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.3em;
}

.breeds-table td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.breeds-table tbody tr {
    border-bottom: 1px solid grey;
    scroll-margin-top: 50px
}

/* Applies styling to every second row of table */
.breeds-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Applies styling to last row of table */
.breeds-table tbody tr:last-of-type {
    border-bottom: 4px solid var(--mainColor);
}


/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 20px 0 20px 0;
}

/* LOGIN */

.wrapper input{
    width: 100%;
    padding: 12px 20px;
}

.submit-btn {
    width: 100%;
    background: var(--mainColor);
    font-size: 1em;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: var(--secondaryColor);
}


.wrapper {
    color: black;
    margin: auto;
    width: 30%;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 1em 2em;
    border: 0;
    border-radius: 10px;
}

.input-card fieldset {
    border: 0;
    border-radius: 10px;
    display: block;
}

.input-card h2 {
    margin-bottom: 20px;
    color: black;
}

.input-card p {
    margin-bottom: 20px;
}

.input-card div {
    margin-bottom: 20px;
}
.username {
    text-align: center;
    color: white;
}

.error-box {
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background: lightpink;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size:36px;
}

#form-control {
    margin-bottom: 50px;
}

.banner {
    /* background-image: url(../images/banner.jpg); */
    background-attachment: fixed;
    background-size: cover;
}

#top {
    background: black;
    opacity: 0.8;
}


.input-card {
    background-color: white;
    margin-bottom: 2em;
    padding: 1em 2em;
    border: 0;
    border-radius: 10px;
    display: block;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.411);
}

#contact input:focus {
    border: 1px solid rgb(175, 175, 175);
}

#contact {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
    
}

.input-card legend {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5em 1em;
    margin: 0 -1em;
    border-radius: 10px;
    color: white;
    background: var(--h1Color);
}

.input-card label {
    color: black;
    margin-bottom: 1em;
}

.input-card label {
    display: inline-block; 
}

#contact textarea {
    height: 200px;
    resize: vertical;
}

.input-card input, textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    /* width: 100%; */
    margin-bottom: 1em;
}

#contact .input-card input, textarea{
    width: 100%;
}

/* mypets */
.tasks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.tasks  td, .tasks th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.tasks tr:nth-child(even){background-color: #f2f2f2;}
  
.tasks tr:hover {background-color: #ddd;}
  
.tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


/* PERSONALITY QUIZ */
#personality-quiz form {
    width:50%;
}

#personality-quiz fieldset h1 {
    color: var(--mainColor);
    font-size: 24px;
    margin: 20px 0;
}

#personality-quiz h2 {
    font-size: 1.2em;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px) {
    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul {
        text-align: center;
    }
    .food-search input[type="search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }
    .food-search {
        padding: 10% 0;
    }
    .categories {
        padding: 20% 0;
    }
    h2 {
        margin-bottom: 10%;
    }
    .box-3 {
        width: 100%;
        margin: 4% auto;
    }
    .food-menu {
        padding: 20% 0;
    }
    .food-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social {
        padding: 5% 0;
    }
    .order {
        width: 100%;
    }

    .sm-v-hidden {
        visibility: hidden;
    }

    .sm-d-none {
        display: none!important;
    }

    .hero-content p, p {
        width: 100%;
    }

    .btn-group {
        display: flex;
    }

    #personality-quiz form {
        width: 100%;
    }
    
    /* Navigation bar */
    .home-hero-img, .main-logo {
        display: none;
    }

    #searchbar {
        width: 100%;
        margin-left: 0;
    }

    #user-icons {
        display: flex;
    }

    #main-menu ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 10px 0;
    }

    #main-menu li {
        padding: 20px 0;
    }

    #top-nav {
        padding-bottom: 20px;
    }

    #bottom-nav {
        padding-left: 0;
    }
    
}

